version: '1'
name: prometheus

services:
  grafana:
    image: 'grafana/grafana'
    privileged: true
    restart: always
    environment:
      - TZ=Asia/Shanghai
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
      
  prometheus:
    image: 'prom/prometheus'
    privileged: true
    restart: always
    environment:
      - TZ=Asia/Shanghai

networks:
  default:
     external:
       name: ${DOCKER_NETWORK_NAME}
