app:
  debug: true
  port: "8080"

waf:
  storage-audit-log: false
  ban-ip-if-scan-404-url: 50
  #ban-ip-if-ddos: 3

redis:
  addr: "127.0.0.1:6379"
  password: "your-password"
  db: 0

elasticsearch:
  url: "http://127.0.0.1:9200"
  username: "elastic"
  password: "your-password"
  audit-log-index: "waf-audit-log"
